<h4 class="modal-title text-dark">Графік PH у реальному часі</h4>
<input type="number" class="form-control-sm" min="10" max="2000" [(ngModel)]="chartPointsNumber">
<p class="h4 card-title my-1 text-center text-dark font-weight-bold">PH в реальному часі {{currentDate | date}}</p>
<div echarts [options]="phOptions" class="demo-chart" *ngIf="phOptions"></div>
<div *ngIf="!phOptions">
  <h3 class="h4 card-title my-1 text-center text-dark font-weight-bold">Запит до сервера, будь ласка,
    зачекайте...</h3>
  <div class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
</div>
