<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/favicon.png', width: 30, height: 30, alt: 'CyberDone Logo'}"
  [navbarBrandMinimized]="{src: 'assets/favicon.png', width: 30, height: 30, alt: 'CyberDone Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'" [routerLink]="['/']">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="/dashboard">Інфо-панель</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/devices">Пристрої</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/settings">Налаштування</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Обліковий запис</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Сповіщення<span class="badge badge-info">3</span></a>
        <!--        <div class="dropdown-header text-center"><strong>Налаштування</strong></div>-->
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Профіль</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Налаштування</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Тарифний план</a>
        <a class="dropdown-item" [routerLink]="['/logout']"><i class="fa fa-lock"></i> Вийти</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">

  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
               (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <main class="main">
    <cui-breadcrumb></cui-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Налаштування</h6>

          <hr>

          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Сповіщення про стан</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Сповіщення на E-mail, про будь-які зміни налаштувань, у будь-яких
                пристроях.</small>
            </div>
          </div>

          <hr>

          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Сповіщення про оновлення</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Сповіщення на E-mail, про новий функціонал.</small>
            </div>
          </div>

          <hr>

        </div>
      </tab>

      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div
            class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Наступна регулярна подія
          </div>

          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div>Встановити Ph:
              <strong>6.7</strong>
            </div>
            <div class="text-muted mr-3">Дні: Пн, Вт, Ср, Чт, Пт, Сб, Нд
            </div>
            <div class="text-muted mr-3">
              <i class="cil-av-timer"></i> 15:45:22
            </div>
          </div>


          <div
            class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Наступна одноразова подія
          </div>
          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div>Встановити Ph:
              <strong>6.7</strong>
            </div>
            <div class="text-muted mr-3">
              <i class="cil-calendar"></i> 03.09.2022 15:45:22
            </div>
          </div>
        </div>
      </tab>

    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="/">CyberDone</a> &copy; 2021</span>
  <span class="ml-auto">Lviv, Ukraine</span>
</app-footer>
