<div>
  <div class="bg-dark rounded card">
    <div class="d-flex justify-content-between m-0">
      <div class="d-block text-left col-11">
        <p class="h4 card-title my-1 mb-2 text-white font-weight-bold">Hydroponic <span
          class="text-danger font-weight-bold" *ngIf="!hydroSett">No Signal</span></p>
        <p class="h6 text-white my-2 font-weight-bold">{{metadata.name == null ? '' : metadata.name + '.'}}
          {{metadata.description == null ? '' : metadata.description}}</p>
      </div>

      <div ngbDropdown class="m-auto btn-group dropleft p-0" *ngIf="hydroSett">
        <a class="btn btn-sm text-white" id="actionSet" [class.dropdown-toggle]="false" ngbDropdownToggle><i
          class="fa fa-2x fa-ellipsis-v"></i></a>
        <div ngbDropdownMenu aria-labelledby="actionSet">
          <button ngbDropdownItem [routerLink]="'/realtime/charts/linear/hydroponics/'+metadata.uuid+'/values/ph'">
            <i class="fa fa-2x fa-line-chart mr-3"></i> PH Realtime
          </button>
          <button ngbDropdownItem [routerLink]="'/realtime/charts/linear/hydroponics/'+metadata.uuid+'/values/tds'">
            <i class="fa fa-2x fa-line-chart mr-3"></i> TDS Realtime
          </button>
          <button ngbDropdownItem [routerLink]="'/realtime/charts/linear/hydroponics/'+metadata.uuid+'/values/temp'">
            <i class="fa fa-2x fa-line-chart mr-3"></i> Temperature Realtime
          </button>
          <button ngbDropdownItem [routerLink]="'/realtime/charts/linear/hydroponics/'+metadata.uuid">
            <i class="fa fa-2x fa-database mr-3"></i> Дані
          </button>
          <button ngbDropdownItem [routerLink]="'/settings/devices/hydroponics/'+metadata.uuid">
            <i class="fa fa-2x fa-cog mr-3"></i> Налаштування
          </button>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-light" *ngIf="hydroSett">
      <thead>
      <tr class="bg-light text-uppercase">
        <th></th>
        <th *ngIf="hydroSett">Виставлено</th>
        <th *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </th>
        <th *ngIf="hydroSett">Зараз</th>
        <th *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="font-weight-bold">
        <td>PH</td>
        <td *ngIf="hydroSett">{{hydroSett.setupPhValue}} pH</td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>
        <td *ngIf="hydroSett"
            class="text-{{abs(hydroData.phValue - hydroSett.setupPhValue)<=hydroSett.regulateErrorPh?'dark':'danger'}}">
          {{hydroData.phValue > 0 && hydroData.phValue <= 12 ? hydroData.phValue + ' pH' : 'Off'}}</td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>
      </tr>
      <tr class="font-weight-bold">
        <td>TDS</td>
        <td
          *ngIf="hydroSett">{{hydroSett.setupTdsValue}} ppm
        </td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>

        <td *ngIf="hydroSett"
            class="text-{{abs(hydroData.tdsValue - hydroSett.setupTdsValue)<=hydroSett.regulateErrorFertilizer?'dark':'danger'}}">
          {{hydroData.tdsValue > 0 && hydroData.tdsValue <= 9999 ? hydroData.tdsValue + ' ppm' : 'Off'}}
        </td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>
      </tr>
      <tr class="font-weight-bold">
        <td>TEMP</td>
        <td
          *ngIf="hydroSett"> -
        </td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>

        <td *ngIf="hydroSett" class="text-dark">
          {{hydroData.temperatureValue > 0 && hydroData.temperatureValue <= 60 ? hydroData.temperatureValue + ' °C' : 'Off'}}
        </td>
        <td *ngIf="!hydroSett">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only"></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
