<div *ngIf="!currentSettings">
  <h3 class="h4 card-title my-1 text-center text-dark font-weight-bold">Запит до сервера, будь ласка,
    зачекайте...</h3>
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="d-block d-md-flex">
  <form [formGroup]="hydroSettForm" class="card col-12 col-md-4 pb-3 rounded-0" *ngIf="currentSettings">
    <h4 class="text-center my-2">Налаштування гідропоніки</h4>

    <div hidden="true">
      {{ lockMap.set('mlPerMillisecond', mlPerMillisecond) }}
      {{ lockMap.set('regulateErrorPh', regulateErrorPh) }}
      {{ lockMap.set('regulateErrorFertilizer', regulateErrorFertilizer) }}
      {{ lockMap.set('phUpDoseMl', phUpDoseMl) }}
      {{ lockMap.set('phDownDoseMl', phDownDoseMl) }}
      {{ lockMap.set('fertilizerDoseMl', fertilizerDoseMl) }}
      {{ lockMap.set('recheckDispensersAfterMs', recheckDispensersAfterMs) }}
      {{ lockMap.set('setupPhValue', setupPhValue) }}
      {{ lockMap.set('setupTdsValue', setupTdsValue) }}
      {{ lockMap.set('deviceEnable', deviceEnable) }}
      {{ lockMap.set('dispensersEnable', dispensersEnable) }}
      {{ lockMap.set('sensorsEnable', sensorsEnable) }}
      {{ lockMap.set('restartCounter', restartCounter) }}
      {{ lockMap.set('wifiSSID', wifiSSID) }}
      {{ lockMap.set('wifiPASS', wifiPASS) }}
      {{ lockMap.set('timeZone', timeZone) }}
      {{ lockMap.set('autotime', autotime) }}
      {{ lockMap.set('regulateErrorPh', regulateErrorPh) }}
      {{ lockMap.set('regulateErrorPh', regulateErrorPh) }}
    </div>

    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Швидкість прокачування рідини (мл/мс)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('mlPerMillisecond');">
          <i class="fa fa-edit"></i>
        </button>
        <input #mlPerMillisecond type="number" formControlName="mlPerMillisecond"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.mlPerMillisecond, 0.4)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeMlPerMillisecond()"
                [class.border-dark]="!mlPerMillisecond.disabled"
                [disabled]="mlPerMillisecond.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Похибка PH регулювання (pH)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('regulateErrorPh');">
          <i class="fa fa-edit"></i>
        </button>
        <input #regulateErrorPh type="number" formControlName="regulateErrorPh"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.regulateErrorPh, 0.4)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeRegulateErrorPh()"
                [class.border-dark]="!regulateErrorPh.disabled"
                [disabled]="regulateErrorPh.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Похибка TDS регулювання (ppm)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)=" setAllDisabledExceptName('regulateErrorFertilizer');">
          <i class="fa fa-edit"></i>
        </button>
        <input #regulateErrorFertilizer type="number" formControlName="regulateErrorFertilizer"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.regulateErrorFertilizer, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeRegulateErrorFertilizer()"
                [class.border-dark]="!regulateErrorFertilizer.disabled"
                [disabled]="regulateErrorFertilizer.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Дозування однієї порції регулятора кислотності PH UP (мл)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)=" setAllDisabledExceptName('phUpDoseMl');">
          <i class="fa fa-edit"></i>
        </button>
        <input #phUpDoseMl type="number" formControlName="phUpDoseMl"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.phUpDoseMl, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changePhUpDoseMl()"
                [class.border-dark]="!phUpDoseMl.disabled"
                [disabled]="phUpDoseMl.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Дозування однієї порції регулятора кислотності PH DOWN (мл)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('phDownDoseMl');">
          <i class="fa fa-edit"></i>
        </button>
        <input #phDownDoseMl type="number" formControlName="phDownDoseMl"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.phDownDoseMl, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changePhDownDoseMl()"
                [class.border-dark]="!phDownDoseMl.disabled"
                [disabled]="phDownDoseMl.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Дозування однієї порції добрива TDS (мл)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('fertilizerDoseMl');">
          <i class="fa fa-edit"></i>
        </button>
        <input #fertilizerDoseMl type="number" formControlName="fertilizerDoseMl"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.fertilizerDoseMl, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeFertilizerDoseMl()"
                [class.border-dark]="!fertilizerDoseMl.disabled"
                [disabled]="fertilizerDoseMl.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Перевірка регуляторів на правильність дозування кожних (мс)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('recheckDispensersAfterMs');">
          <i class="fa fa-edit"></i>
        </button>
        <input #recheckDispensersAfterMs type="number" formControlName="recheckDispensersAfterMs"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.recheckDispensersAfterMs, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeRecheckDispensersAfterMs()"
                [class.border-dark]="!recheckDispensersAfterMs.disabled"
                [disabled]="recheckDispensersAfterMs.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Встановити підтримуване значення PH (pH)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('setupPhValue');">
          <i class="fa fa-edit"></i>
        </button>
        <input #setupPhValue type="number" formControlName="setupPhValue"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.setupPhValue, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeSetupPhValue()"
                [class.border-dark]="!setupPhValue.disabled"
                [disabled]="setupPhValue.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Встановити підтримуване значення TDS (ppm)</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('setupTdsValue');">
          <i class="fa fa-edit"></i>
        </button>
        <input #setupTdsValue type="number" formControlName="setupTdsValue"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.setupTdsValue, 50)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeSetupTdsValue()"
                [class.border-dark]="!setupTdsValue.disabled"
                [disabled]="setupTdsValue.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <!--  <div class="card-body mb-1">
        <div class="input-group">
          <h6 class="col-10 form-text bg-dark py-2 my-0">Встановити підтримуване значення PH (pH)</h6>
          <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Редагувати"
                  (click)="(setupTemperatureValue.disabled = !setupTemperatureValue.disabled); editMode = !setupTemperatureValue.disabled">
            <i class="fa fa-edit"></i>
          </button>
          <input #setupTemperatureValue type="number" formControlName="setupTemperatureValue"
                 class="form-control rounded-0 border-dark col-10"
                 value="{{ifBadSetValue(currentSettings.setupTemperatureValue, 50)}}"
                 disabled="true">
          <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Оновити налаштування на пристрої"
                  (click)="changeSetupTemperatureValue()"
                  [class.border-dark]="!setupTemperatureValue.disabled"
                  [disabled]="setupTemperatureValue.disabled">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
     </div>-->
    <div class="card-body p-0">
      <div class="input-group align-content-between justify-content-between">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Пристрій дозволено</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('deviceEnable');">
          <i class="fa fa-edit"></i>
        </button>
        <input #deviceEnable type="checkbox" formControlName="deviceEnable"
               class="checkbox checkbox-bg custom-checkbox rounded-0 border-dark"
               checked="{{ifBadSetValue(currentSettings.deviceEnable, false)}}"
               value="{{ifBadSetValue(currentSettings.deviceEnable, false)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeDeviceEnable()"
                [class.border-dark]="!deviceEnable.disabled"
                [disabled]="deviceEnable.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group align-content-between justify-content-between">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Регулювання дозволено</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('dispensersEnable');">
          <i class="fa fa-edit"></i>
        </button>
        <input #dispensersEnable type="checkbox" formControlName="dispensersEnable"
               class="checkbox rounded-0 border-dark"
               checked="{{ifBadSetValue(currentSettings.dispensersEnable, false)}}"
               value="{{ifBadSetValue(currentSettings.dispensersEnable, false)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeDispensersEnable()"
                [class.border-dark]="!dispensersEnable.disabled"
                [disabled]="dispensersEnable.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group align-content-between justify-content-between">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Сенсори дозволено</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('sensorsEnable');">
          <i class="fa fa-edit"></i>
        </button>
        <input #sensorsEnable type="checkbox" formControlName="sensorsEnable"
               class="checkbox rounded-0 border-dark"
               checked="{{ifBadSetValue(currentSettings.sensorsEnable, false)}}"
               value="{{ifBadSetValue(currentSettings.sensorsEnable, false)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeSensorsEnable()"
                [class.border-dark]="!sensorsEnable.disabled"
                [disabled]="sensorsEnable.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Лічильник перевантажень контролера</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('restartCounter');">
          <i class="fa fa-edit"></i>
        </button>
        <input #restartCounter type="number" formControlName="restartCounter"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.restartCounter, 0)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeRestartCounter()"
                [class.border-dark]="!restartCounter.disabled"
                [disabled]="restartCounter.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Назва точки доступу</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('wifiSSID');">
          <i class="fa fa-edit"></i>
        </button>
        <input #wifiSSID type="text" formControlName="wifiSSID"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.wifiSSID, 'ssid')}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeWifiSSID()"
                [class.border-dark]="!wifiSSID.disabled"
                [disabled]="wifiSSID.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Пароль до точки доступу</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('wifiPASS');">
          <i class="fa fa-edit"></i>
        </button>
        <input #wifiPASS type="text" formControlName="wifiPASS"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.wifiPASS, 'xxxxxxx')}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeWifiPASS()"
                [class.border-dark]="!wifiPASS.disabled"
                [disabled]="wifiPASS.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Часова зона пристрою</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('timeZone');">
          <i class="fa fa-edit"></i>
        </button>
        <input #timeZone type="text" formControlName="timeZone"
               class="form-control rounded-0 border-dark col-10"
               value="{{ifBadSetValue(currentSettings.timeZone, '+3:00')}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeTimeZone()"
                [class.border-dark]="!timeZone.disabled"
                [disabled]="timeZone.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="input-group align-content-between justify-content-between">
        <h6 class="col-10 form-text bg-dark py-2 my-0">Дозволено автоматичне онолвення часу згідно встановленої часової
          зони</h6>
        <button class="btn btn-light rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('autotime');">
          <i class="fa fa-edit"></i>
        </button>
        <input #autotime type="checkbox" formControlName="autotime"
               class="checkbox rounded-0 border-dark"
               checked="{{ifBadSetValue(currentSettings.autotime, false)}}"
               value="{{ifBadSetValue(currentSettings.autotime, false)}}" disabled>
        <button class="btn btn-success rounded-0 border-dark shadow-none col-2" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Оновити налаштування на пристрої"
                (click)="changeAutotime()"
                [class.border-dark]="!autotime.disabled"
                [disabled]="autotime.disabled">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="hydroSettingsTemplate" class="card col-12 col-md-4 rounded-0 mb-auto" *ngIf="currentSettings">
    <h4 class="text-center my-2">Шаблони налаштувань гідропоніки</h4>

    <div class="card-body p-0">
        <h6 class="col-12 form-text bg-dark py-2 my-0">Створити новий шаблон із поточними налаштування гідропоніки</h6>
        <input #templateName type="text" formControlName="templateName"
               class="form-control rounded-0 border-dark col-12" placeholder="Назва шаблону">
        <input #templateDescription type="text" formControlName="templateName"
               class="form-control rounded-0 border-dark col-12" placeholder="Опис шаблону">
        <button class="btn btn-success rounded-0 border-dark shadow-none col-12 font-weight-bold" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Редагувати"
                (click)="setAllDisabledExceptName('deviceEnable');">
          Створити
        </button>
    </div>

    <div class="card rounded-0 bg-light border-dark my-1">
      <div class="card-body p-1">
        <div class="d-flex">
          <div class="mr-1">
            <p class="h4 font-weight-bold text-left ">Назва шаблону, нічого особливого</p>
            <p class="h5">Трошки тексту, типу якийсь опис, якого дуже є багато, що аж не влізає на одну стрічку, а може
              і
              дві. Одним словом вода як у дипломних роботах, але не океанічна і не з басейну річок, а та сама, яку ми
              заслужили.
            </p>
          </div>
          <div class="btn-group-vertical rounded-0">
            <button class="btn btn-sm btn-outline-success rounded-0 font-weight-bold">Застосувати</button>
            <button class="btn btn-sm btn-outline-warning rounded-0 font-weight-bold">Редагувати</button>
            <button class="btn btn-sm btn-outline-danger rounded-0 font-weight-bold">Видалити</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded-0 bg-light border-dark my-1">
      <div class="card-body p-1">
        <div class="d-flex">
          <div class="mr-1">
            <p class="h4 font-weight-bold text-left ">Назва шаблону, нічого особливого</p>
            <p class="h5">Трошки тексту, типу якийсь опис, якого дуже є багато, що аж не влізає на одну стрічку, а може
              і
              дві. Одним словом вода як у дипломних роботах, але не океанічна і не з басейну річок, а та сама, яку ми
              заслужили.
            </p>
          </div>
          <div class="btn-group-vertical rounded-0">
            <button class="btn btn-sm btn-outline-success rounded-0 font-weight-bold">Застосувати</button>
            <button class="btn btn-sm btn-outline-warning rounded-0 font-weight-bold">Редагувати</button>
            <button class="btn btn-sm btn-outline-danger rounded-0 font-weight-bold">Видалити</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded-0 bg-light border-dark my-1">
      <div class="card-body p-1">
        <div class="d-flex">
          <div class="mr-1">
            <p class="h4 font-weight-bold text-left ">Назва шаблону, нічого особливого</p>
            <p class="h5">Трошки тексту, типу якийсь опис, якого дуже є багато, що аж не влізає на одну стрічку, а може
              і
              дві. Одним словом вода як у дипломних роботах, але не океанічна і не з басейну річок, а та сама, яку ми
              заслужили.
            </p>
          </div>
          <div class="btn-group-vertical rounded-0">
            <button class="btn btn-sm btn-outline-success rounded-0 font-weight-bold">Застосувати</button>
            <button class="btn btn-sm btn-outline-warning rounded-0 font-weight-bold">Редагувати</button>
            <button class="btn btn-sm btn-outline-danger rounded-0 font-weight-bold">Видалити</button>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example" class="mx-auto">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </form>
</div>
