<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="fpForm">
                <h1 class="text-capitalize text-center">CyberDone</h1>
                <div class="input-group mb-1">
                  <img class="mx-auto" src="../../../assets/img/brand/favicon.ico" alt="CyberDoneLogo"/>
                </div>
                <h3 class="text-center text-dark">Зміна паролю</h3>

                <p class="text-muted">Введіть Вашу пошту, яку було використано для створення облікового запису, та новий
                  пароль у поля вводу. Після отримання листа на поштовий адрес, перейдіть
                  за посиланням, щоб активувати новий пароль.</p>

                <alert [type]="errorAlert.type" *ngIf="errorAlert">{{errorAlert.msg}}</alert>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input formControlName="username"
                         [class.is-invalid]="username.invalid && username.touched"
                         id="email" type="email" class="form-control" placeholder="E-mail"
                         required>
                  <div class="invalid-feedback text-right" *ngIf="username.errors?.email">
                    Введена пошта є неправильного форматую
                  </div>
                  <div class="invalid-feedback text-right" *ngIf="username.errors?.required">
                    Це поле є обов'язковим для введення.
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="newPassword"
                         [class.is-invalid]="newPassword.invalid && newPassword.touched"
                         id="new-password" type="password" class="form-control" placeholder="Новий пароль"
                         required>
                  <div class="invalid-feedback text-right" *ngIf="newPassword.errors?.pattern">
                    Пароль повинен містити щонайменше 1 літеру нижнього та 1 літеру верхнього регістру. Дозволені літери
                    англійського алфавіту.
                  </div>
                  <div class="invalid-feedback text-right" *ngIf="newPassword.errors?.minlength">
                    Пароль повинен містити щонайменше 8 символів
                  </div>
                  <div class="invalid-feedback text-right" *ngIf="newPassword.errors?.required">
                    Це поле є обов'язковим для введення.
                  </div>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="checkNewPassword"
                         [class.is-invalid]="checkNewPassword.invalid && checkNewPassword.touched"
                         id="new-password-recheck" type="password" class="form-control"
                         placeholder="Повторіть новий пароль"
                         required>
                  <div class="invalid-feedback text-right" *ngIf="checkNewPassword.errors?.pattern">
                    Пароль повинен містити щонайменше 1 літеру нижнього та 1 літеру верхнього регістру. Дозволені літери
                    англійського алфавіту.
                  </div>
                  <div class="invalid-feedback text-right" *ngIf="checkNewPassword.errors?.minlength">
                    Пароль повинен містити щонайменше 8 символів
                  </div>
                  <div class="invalid-feedback text-right" *ngIf="checkNewPassword.errors?.required">
                    Це поле є обов'язковим для введення.
                  </div>
                </div>
                <button [disabled]="(username.touched && username.invalid) ||
                                    (newPassword.touched && newPassword.invalid) ||
                                    (checkNewPassword.touched && checkNewPassword.invalid)"
                        (click)="changePassword()"
                        type="button" class="btn btn-block btn-dark mb-4">Відправити E-mail
                  для завершення операції
                </button>

                <div class="d-flex justify-content-between">
                  <a type="button" class="btn-link text-dark" [routerLink]="['/login']">Вхід</a>
                  <a type="button" class="btn-link text-dark" [routerLink]="['/register']">Реєстрація</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
