<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1 class="text-capitalize text-center">CyberDone</h1>
              <div class="input-group mb-1">
                <img class="mx-auto" src="./assets/favicon.ico" alt="CyberDoneLogo"/>
              </div>
              <h3 class="text-center text-dark">Зміна паролю</h3>

              <p class="text-muted">Введіть Вашу пошту, яку було використано для створення облікового запису, та новий пароль у поля вводу. Після отримання листа на поштовий адрес, перейдіть
                за посиланням, щоб активувати новий пароль.</p>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input id="email" type="email" class="form-control" placeholder="E-mail"
                       [(ngModel)]="changePasswordDto.username"
                       required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input id="new-password" type="password" class="form-control" placeholder="Новий пароль"
                       [(ngModel)]="changePasswordDto.newPassword"
                       required>
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input id="new-password-recheck" type="password" class="form-control" placeholder="Повторіть новий пароль"
                       [(ngModel)]="changePasswordDto.checkNewPassword"
                       required>
              </div>
              <button type="button" class="btn btn-block btn-dark mb-4" (click)="changePassword()">Відправити E-mail для завершення операції</button>

              <div class="d-flex justify-content-between">
                  <a type="button" class="btn-link text-dark" [routerLink]="['/login']">Здається, згадав...</a>
                  <a type="button" class="btn-link text-dark" [routerLink]="['/register']">Реєстрація</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
