.profile-image-btn {
  width: 200px;
  height: auto;
}

.profile-image {
  width: 12em;
  height: auto;
  max-height: 12em;
  border: 0.2em solid #eae6e6;
  object-fit: cover;
  max-width: 100%;
}

.btn-icon {
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
  margin: 1px 1px 1px 1px !important;
}

.label-similar {
  width: 70px;
}

.info-box {
  width: 130px !important;
}
