<h3>Додати пристрій</h3>
<div class="card-group">
  <div class="card">
    <div class="card-block bg-dark p-1">
      <form [formGroup]="addForm">

        <alert [type]="errorAlert.type" *ngIf="errorAlert">{{errorAlert.msg}}</alert>

        <div class="input-group">
          <h6 class="form-text text-center text-white w-100">Введіть UUID пристрою</h6>
        </div>
        <div class="input-group">
          <input formControlName="uuid"
                 [class.is-invalid]="uuid.invalid && uuid.touched"
                 type="text" class="form-control" placeholder="Приклад: d70f8752-2d0d-41ca-a707-eca2f5a27ab7">
          <div class="invalid-feedback text-right" *ngIf="uuid.errors?.pattern">
            Ви допустили помилку при введенні унікального ідентифікатору пристрою - UUID.
          </div>
          <div class="invalid-feedback text-right" *ngIf="uuid.errors?.required">
            Це поле є обов'язковим для введення.
          </div>
        </div>
        <div class="input-group-btn">
          <button [disabled]="(uuid.touched && uuid.invalid)"
                  class="btn btn-warning w-100 my-1" (click)="linkDeviceToUser()">Додати пристрій
            <i class="fa fa-plus text-white ml-2"></i></button>
        </div>
      </form>
    </div>
    <div class="card-block bg-white" *ngFor="let meta of metadataList">
      <div class="bg-dark m-1 rounded d-none d-md-block text-white">
        <div class="d-flex justify-content-between align-content-center m-1 p-1">
          <h6 class="text-left text-warning col-2 my-auto">{{meta.name}}</h6>
          <h6 class="text-left text-warning col-2 my-auto">{{meta.description}}</h6>
          <h6 class="text-left my-auto col-3">{{'uuid=' + meta.uuid}}</h6>
          <h6 class="text-left my-auto col-1">{{''}}</h6>
          <h6 class="text-center text-warning col-2 my-auto">

          </h6>
          <h6 class="text-center thead-light col-1 my-auto">
            {{''}}
          </h6>
          <button class="btn btn-sm btn-outline-danger m-auto rounded" (click)="unlinkDevice(meta.uuid)">
            <i class="fa fa-close text-white" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="bg-dark rounded d-block d-md-none text-white p-2 m-1">
        <div class="d-flex justify-content-between align-content-center">
          <div>
            <h6 class="text-left text-warning">{{meta.name}}</h6>
            <h6 class="text-left">{{meta.description}}</h6>
          </div>
          <button class="btn btn-sm btn-outline-danger rounded my-auto" (click)="unlinkDevice(meta.uuid)">
            <i class="fa fa-remove text-white" aria-hidden="true"></i>
          </button>
        </div>
        <div class="d-flex justify-content-between align-content-center">
          <h6 class="form-label h6 align-self-center my-auto">{{'uuid=' + meta.uuid}}</h6>
          <h6 class="form-label h6 align-self-center my-auto">{{''}}</h6>
        </div>
        <div class="d-flex justify-content-between align-content-center">
          <h6 class="form-label h6 align-self-center my-auto">

          </h6>
          <h6 class="form-label h6 align-self-center my-auto">{{''}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
